@import url(https://fonts.googleapis.com/css?family=Audiowide);

html, body, #cesiumContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position:fixed;
	font-family: 'Audiowide', cursive;
    color:#1ebc95;
    background-color:black;
}

.cesium-home-button {
	visibility:hidden;
}

.cesium-infoBox-iframe {
	width:320px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	z-index:10001;
}

.cesium-infoBox {
	width:320px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	z-index:10001;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background:rgba(0,0,0,0.75);
}

.cesium-infoBox-visible {
	width:320px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	z-index:10001;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 3px;
    border: none;
}

.cesium-infoBox-title {
	font-family: 'Audiowide', cursive;
	padding:5px 24px;
	overflow:hidden;
    color:#1ebc95;
    background:rgba(0,0,0,0.9);
    font-weight: bold;
}

.cesium-widget-credits {
	display:none;
}

.cesium-button {
    cursor: pointer;
}

.cesium-selection-wrapper svg {
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 0px;
    opacity:0.9;
}

.cesium-viewer-animationContainer {
    -webkit-filter: contrast(150%);
    filter: contrast(150%);
    opacity:0.8;
}

.cesium-viewer-timelineContainer {
	font-family: 'Audiowide', cursive;
    -webkit-filter: contrast(150%);
    filter: contrast(150%);
    opacity:0.8;
}

/*ボタン群*/

.sample {
	position:absolute;
	height:100%;
}
#button {
	position:absolute;
	top:8px;
	left:8px;
	z-index:10005;
}
#button2 {
	position:absolute;
	top:8px;
	right:8px;
	z-index:10005;
}
#button3 {
	position:absolute;
	top:8px;
	right:54px;
	z-index:10005;
}
#button4 {
	position:absolute;
	top:8px;
	left:50%;
	margin-left:-20px;
	z-index:10100;
}
#buttonGeo {
	position:absolute;
	bottom:34px;
	left:50%;
	margin-left:-20px;
	opacity:0.9;
}

.sharebutton {
    position: absolute;
    text-align: right;
    bottom: 40px;
    right: 8px;
    width: 130px;
    z-index: 2;
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
    opacity:0.8;
}
.share {
	width:28px;
	height:28px;
	margin:-2px;
}
.share-buttons{
	list-style: none;
}
.share-buttons li{
	display: inline;
}

h2 {
    font-size:13px;
    font-weight:bold;
    text-align:center;
}

a {
    color:#1ebc95;
	text-decoration:none;
}

a:hover{
	color:white;
	background:black;
}

#slide_menu{
    position: fixed;
    top: 48px;
    left: -200px;
    width: 100px;
    opacity: 0.8;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    margin-bottom: 0px;
    background: black;
    text-align: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 10px;
}

ul {
    margin-left:-30px;
    margin-bottom:-10px;
}

li {
    list-style-type: none;
    text-indent:0px;
}

.slide_label{
	font-size:11px;
	margin:0px 0px 2px 0px;
	padding:0px;
	height:12px;
}

#slider {
	position: absolute;
	width: 100px;
	top: 5px;
	background: none repeat scroll 0% 0% transparent;
	z-index: 10001;
	right: 98px;
}

#blackOut {
	position:absolute;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	background:black;
	z-index:10002;
	opacity:0.6;
}

.loading {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	margin-left:-39px;
}

input {
	margin:2px 0px 0px 0px;
	padding:0px;
	width: 100px !important;
    color:#1ebc95;
    background:black;
}

input::-webkit-input-placeholder {
    font-family: 'Audiowide', cursive;
    color:#1ebc95;
}
input:-ms-input-placeholder {
	font-family: 'Audiowide', cursive;
    color:#1ebc95;
}
input::-moz-placeholder {
	font-family: 'Audiowide', cursive;
    color:#1ebc95;
}

.geocode {
	opacity:0.8;
	position:absolute;
	top:19px;
	left:55px;
	z-index:10001;
}

.textbox {
	border:0;
	margin:0px;
	padding:0px 0px 1px 2px;
	font-size:12px;
	width:100px;
	height:15px;
}

.link{
    position: absolute;
    right: 52px;
    top: 8px;
    z-index: 11000;
    background: black;
    width: 38px;
    text-align: center;
    height: 36px;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow:0px 0px 2px #666;
    -moz-box-shadow:0px 0px 2px #666;
    -ms-box-shadow:0px 0px 2px #666;
    -o-box-shadow:0px 0px 2px #666;
    box-shadow:0px 0px 2px #666;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity:0.9;
}

.link:hover{
    background: #333;
}

.icon {
    width:36px;
    height:36px;
    margin:0;
    padding:0;
}